src/log.lammps
water1/*
log.lammps
workspace/ELTE/__pycache__/__init__.cpython-39.pyc
src/__pycache__/plotsettings.cpython-39.pyc
src/__pycache__/reader1.cpython-39.pyc
fyta2012 (1).pdf
ws1.code-workspace
.vscode/launch.json
figures/LJ_test1.png
SPCE/data.4176.spce
SPCE/disttest.xyz
SPCE/in.spce
SPCE/out_lj_3d_type2_nvt.lammpstrj
SPCE/script_compilation
SPCE/test.rdf
SPCE/test.restart.1000
SPCE/testDump.xyz
SPCE/a/data.4176.spce
SPCE/a/in.spce
SPCE/b/data.4176.spce
SPCE/b/in.spce
SPCE/b/test.restart.10
SPCE/b/test.restart.20
SPCE/b/test.restart.30
SPCE/b/test.restart.40
SPCE/b/test.restart.50
SPCE/b/test.restart.60
SPCE/b/test.restart.70
SPCE/b/test.restart.80
SPCE/b/test.restart.90
SPCE/b/test.restart.100
SPCE/b/testDump.xyz
src/__pycache__/calculations.cpython-39.pyc
src/__pycache__/potentialviz.cpython-39.pyc
src/__pycache__/spce_vars.cpython-39.pyc
